RewriteEngine On

# serve /en/ as /en/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^en/?$ en/index.php [L]

# allow extensionless pages within /en/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(en/[A-Za-z0-9\-_\/]+)$ $1.php [L]
